body {
  background-color: rgb(253, 251, 251);
  padding: 0;
  margin: 0;
  font-family: Tahoma, sans-serif;
  color: rgb(218, 44, 14);
  font-size: +20px;
  line-height: 2em;
}

#cabecalho {
  top: 0;
  position: fixed;
  background-color: aquamarine;
  border-bottom: 2px solid black;
  width: 100%;
}

#minha_foto {
  width: 200px;
}

main > section:nth-of-type( 1 ) {
  margin-top: 150px;
}

a {
  text-decoration: none;
  color: rgb(99, 99, 30);
}

.coracao {
  color: red;
  font-size: 20px;
}

h2 {
  text-decoration: underline;
}

main > table tr th , main > table tr td {
  border: 1px solid black;
  padding: 10px;
}

main > table {
  color: green;
  border: 2px solid black;
  padding: 10px;
}

.flex {
  display: flex;
}

.lado_esquerdo {
  width: auto;
  margin-right: 50px;
}

.lado_direito {
  width: auto;
}
